$colorOne: #212121
$colorTwo: #595959
$colorThree: #ff3448
$colorFour: #00adc1
$colorFive: #ffffff
$colorSix: #000000




// MAIN STYLES
*
    box-sizing: border-box
    padding: 0
    margin: 0

a
    text-decoration: none





//HEADER MAIN STYLE
header
    width: 100%
    background-color: $colorOne


    // .1
    .header-blocks
        max-width: 1200px
        width: 100%
        display: flex
        flex-wrap: wrap
        align-items: center
        margin: 0 auto

        // .2
        .links-search
            width: 100%
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: flex-end
            padding: 5px 0 5px 5px
            @media screen and (max-width: 360px)
                justify-content: center

            a
                color: $colorThree
                margin-right: 40px
                transition: color 0.3s ease-in-out 0.3s
                font-size: 14px
                @media screen and (max-width: 375px)
                    margin-right: 20px
                @media screen and (max-width: 360px)
                    margin-right: 20px

                img
                    margin-right: 8px
                    @media screen and (max-width: 375px)
                        margin-right: 20px
                    @media screen and (max-width: 360px)
                        margin-right: 5px

            a:hover
                color: $colorFour

            img
                transform: scale(1)
                transition: transform 0.3s ease-in-out 0.3s
                cursor: pointer
                @media screen and (max-width: 360px)
                    margin-left: 5px

            img:hover
                transform: scale(1.5)

            .v-line
                height: 30px
                width: 2px
                background-color: $colorTwo
                margin-right: 18px
                @media screen and (max-width: 360px)
                    margin-right: 5px



        // .3
        .h-line
            max-width: 1200px
            width: 100%
            height: 2px
            background-color: $colorTwo


        // .4
        .logo-phone-links
            width: 100%
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: space-between
            padding: 12px 0 12px 12px

            .logo
                width: 180px
                @media screen and (max-width: 414px)
                    width: 100%
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    margin-bottom: 10px
                @media screen and (max-width: 411px)
                    width: 100%
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    margin-bottom: 10px
                @media screen and (max-width: 360px)
                    width: 100%
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    margin-bottom: 10px

                h1
                    color: $colorFive
                    font-size: 45px
                    @media screen and (max-width: 414px)
                        margin-bottom: 10px
                    @media screen and (max-width: 411px)
                        margin-bottom: 10px

                    mark
                        background: none
                        color: $colorThree

                p
                    font-size: 15px
                    color: $colorFive
                    letter-spacing: 3px
                    text-align: center

            .phone-links
                display: flex
                flex-wrap: wrap
                align-items: center

                .phone
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    justify-content: flex-end
                    margin-right: 60px
                    @media screen and (max-width: 414px)
                        width: 100%
                        display: flex
                        flex-wrap: wrap
                        align-items: center
                        margin: 10px 0 10px 0
                    @media screen and (max-width: 411px)
                        width: 100%
                        display: flex
                        flex-wrap: wrap
                        align-items: center
                        margin: 10px 0 10px 0
                    @media screen and (max-width: 360px)
                        width: 100%
                        display: flex
                        flex-wrap: wrap
                        align-items: center
                        margin: 10px 0 10px 0

                    p:nth-child(1)
                        font-size: 20px
                        color: $colorFive
                        margin-bottom: 20px

                        img
                            margin-right: 20px

                    p:nth-child(2)
                        font-size: 14px
                        color: $colorTwo

            .links
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-between
                @media screen and (max-width: 414px)
                    margin: 10px 0 10px 0
                @media screen and (max-width: 411px)
                    margin: 10px 0 10px 0
                @media screen and (max-width: 360px)
                    margin: 10px 0 10px 0

                .link
                    width: 78px
                    display: flex
                    flex-direction: column
                    align-items: center
                    transition: box-shadow 0.3s ease-in-out 0.3s
                    cursor: pointer
                    padding: 5px

                    a
                        font-size: 15px
                        font-weight: bold
                        color: $colorFive
                        margin-top: 18px

                .link:nth-child(2),
                .link:nth-child(4)
                    margin: 0 20px 0 20px

                .link:nth-child(6)
                    margin: 0 0 0 20px

                .link:hover
                    box-shadow: 0 5px 5px 5px rgba(255, 52, 72, 0.8)

                .v-line
                    width: 2px
                    height: 65px
                    background-color: $colorTwo
    // .1

    .navigation
        width: 100%
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        min-height: 50px
        background-color: $colorSix

        .nav-link
            max-width: 1100px
            width: 100%
            @media screen and (max-width: 1024px)
                display: flex
                justify-content: center
            @media screen and (max-width: 768px)
                display: flex
                justify-content: center
            @media screen and (max-width: 414px)
                display: flex
                flex-wrap: wrap
                justify-content: space-around
            @media screen and (max-width: 411px)
                display: flex
                flex-wrap: wrap
                justify-content: space-around
            @media screen and (max-width: 360px)
                display: flex
                flex-wrap: wrap
                justify-content: space-around

            a
                color: $colorFive
                font-size: 15px
                font-weight: bold
                margin-right: 40px
                transition: all 0.3s ease-in-out 0.3s
                padding: 2px
                @media screen and (max-width: 414px)
                    padding: 5px
                    margin: 5px
                @media screen and (max-width: 411px)
                    padding: 5px
                    margin: 5px
                @media screen and (max-width: 360px)
                    padding: 5px
                    margin: 5px

            a:hover
                color: $colorFour


    // --------------------------------------------------------------------------------

main

    section

        .banner-bg
            width: 100%
            background-image: url(../img/banner/banner.png)
            background-size: cover
            max-height: 872px
            height: 850px
            background-repeat: no-repeat
            @media screen and (max-width: 414px)
                display: none
            @media screen and (max-width: 411px)
                display: none
            @media screen and (max-width: 360px)
                display: none

    // --------------------------------------------------------------------------------

    section

        .products-links
            width: 100%
            display: flex
            flex-wrap: wrap
            align-items: center

            .link-item
                max-height: 405px
                height: 342px
                width: 50%
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-between
                @media screen and (max-width: 768px)
                    width: 100%
                    overflow: hidden
                @media screen and (max-width: 414px)
                    width: 100%
                    overflow: hidden
                @media screen and (max-width: 411px)
                    width: 100%
                    overflow: hidden
                @media screen and (max-width: 360px)
                    width: 100%
                    overflow: hidden

                .link-info
                    margin-left: 50px

                    h2
                        font-size: 35px
                        color: $colorFive
                        margin: 5px 0 25px 0

                    p
                        font-size: 20px
                        color: #979696

            .link-item:nth-child(1),
            .link-item:nth-child(4)
                background-color: #363636

            .link-item:nth-child(2),
            .link-item:nth-child(3)
                background-color: $colorOne


    // --------------------------------------------------------------------------------

    section
        background-color: #282828

        .featured-products
            width: 100%
            display: flex
            flex-wrap: wrap
            flex-direction: column
            align-items: center

            .featured-headline
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column

                h2
                    font-size: 35px
                    color: $colorFive
                    margin-top: 80px
                    text-align: center

                .h-line
                    background-color: $colorThree
                    width: 170px
                    height: 2px
                    margin: 26px 0 60px 0

            .products-block
                max-width: 1400px
                width: 100%
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-around
                margin-bottom: 100px

                .products-item:hover
                    box-shadow: 0 10px 5px 5px rgba(255, 52, 72, 0.8)

                .products-item
                    width: 250px
                    height: 373px
                    background-color: #363636
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: flex-end
                    margin-bottom: 5px
                    transition: all 0.3s ease-in-out 0.3s

                    img:nth-child(1)
                        margin-bottom: 15px

                    img:nth-child(4)
                        margin-bottom: 35px

                    h3,p
                        margin-bottom: 20px

                    h3
                        font-size: 17px
                        color: $colorThree

                    p
                        font-size: 25px
                        color: $colorFive



    // --------------------------------------------------------------------------------

    section
        display: flex
        align-items: center
        justify-content: center

        .special-offers-block
            // max-width: 1272px
            width: 100%
            min-height: 545px
            background-image: url(../img/offers/offers-bg.png)
            background-size: cover
            display: flex
            flex-wrap: wrap
            align-items: center

            .special-offers
                width: 100%
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-around
                min-height: 300px
                @media screen and (max-width: 768px)
                    flex-direction: column

                .v-line
                    width: 3px
                    height: 173px
                    background-color: $colorFive

                .offers
                    display: flex
                    flex-wrap: wrap
                    flex-direction: column
                    align-items: center
                    justify-content: space-around
                    max-width: 454px
                    width: 100%
                    min-height: 300px
                    @media screen and (max-width: 414px)
                        text-align: center
                        margin-bottom: 10px
                    @media screen and (max-width: 411px)
                        text-align: center
                        margin-bottom: 10px
                    @media screen and (max-width: 360px)
                        text-align: center
                        margin-bottom: 10px


                    p:nth-child(1)
                        font-size: 80px
                        color: $colorFive
                        font-weight: bold

                    p:nth-child(2)
                        font-size: 40px
                        font-weight: bold
                        color: $colorFive
                        margin: 22px 0 32px 0

                    p:nth-child(3)
                        font-size: 15px
                        color: $colorFive
                        margin-bottom: 30px

                    button
                        width: 192px
                        height: 40px
                        background-color: #9c1c28
                        color: $colorFive
                        border: none
                        border-radius: 40px
                        font-size: 20px
                        font-weight: bold
                        transition: all 0.3s ease-in-out 0.3s
                        @media screen and (max-width: 768px)
                            margin-bottom: 10px

                    button:hover
                        background-color: $colorFour
                        color: $colorOne


    // --------------------------------------------------------------------------------


footer
    background-color: $colorSix
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    min-height: 400px

    .footer-first-block
        width: 100%
        max-width: 1326px
        display: flex
        align-items: center
        justify-content: center

        .footer-link-social
            width: 100%
            max-width: 1326px
            display: flex
            flex-wrap: wrap
            align-items: baseline
            justify-content: center

            .links-block
                width: 180px
                display: flex
                flex-direction: column
                justify-content: flex-start
                text-align: left
                min-height: 337px
                margin: 100px 130px 0 0
                @media screen and (max-width: 320px)
                    margin: 0

                h4
                    font-size: 25px
                    font-weight: bold
                    color: $colorFive

                .h-line
                    width: 70px
                    height: 3px
                    background-color: #9c1c28
                    margin: 14px 0 23px 0

                a
                    font-size: 15px
                    font-weight: bold
                    color: #9c1c28
                    transition: all 0.3s ease-in-out 0.3s
                    margin-bottom: 23px

                a:hover
                    color: $colorFour
                    transform: scale(1.2)

            .input-social-block
                width: 340px
                min-height: 337px
                display: flex
                flex-direction: column
                @media screen and (max-width: 360px)
                    margin: 20px 0 20px 0
                @media screen and (max-width: 320px)
                    padding: 0 10px 0 10px

                .input-block
                    @media screen and (max-width: 320px)
                        padding: 0 10px 0 10px

                    h4
                        font-size: 25px
                        font-weight: bold
                        color: $colorFive

                    .h-line
                        width: 70px
                        height: 3px
                        background-color: #9c1c28
                        margin: 14px 0 23px 0

                    p
                        color: #887979
                        font-size: 15px

                    input
                        width: 100%
                        max-width: 340px
                        height: 37px
                        background-color: $colorTwo
                        border: none
                        margin: 15px 0 34px 0

                    button
                        width: 144px
                        height: 40px
                        font-size: 20px
                        font-weight: bold
                        border: none
                        border-radius: 40px
                        background-color: #9c1c28
                        margin-bottom: 90px

                .social-block

                    img
                        margin-right: 20px



    .h-line-width
        max-width: 1326px
        width: 100%
        height: 3px
        background-color: $colorTwo
        margin: 83px 0 77px 0


    .footer-second-blocks
        width: 100%
        max-width: 1326px
        display: flex
        align-items: center
        justify-content: center

        .footer-info-contact
            width: 100%
            max-width: 1326px
            display: flex
            flex-wrap: wrap
            align-items: baseline
            justify-content: center
            min-height: 241px

            .info-block:nth-child(3)
                max-width: 314px
                width: 100%
                margin-right: 40px
                height: 241px

                p:nth-child(4)
                    margin-bottom: 0
                    @media screen and (max-width: 768px)
                        margin-bottom: 18px
                    @media screen and (max-width: 414px)
                        margin-bottom: 18px
                    @media screen and (max-width: 411px)
                        margin-bottom: 18px
                    @media screen and (max-width: 360px)
                        margin-bottom: 18px

            .info-block
                display: flex
                flex-wrap: wrap
                flex-direction: column
                max-width: 389px
                width: 100%
                height: 241px
                margin-right: 91px
                @media screen and (max-width: 414px)
                    margin: 0
                    padding: 0 5px 0 10px
                @media screen and (max-width: 411px)
                    margin: 0
                    padding: 0 5px 0 10px
                @media screen and (max-width: 360px)
                    margin: 0
                    padding: 0 5px 0 10px
                @media screen and (max-width: 320px)
                    margin: 0
                    padding: 0 5px 0 10px
                    height: auto

                h4
                    font-size: 25px
                    font-weight: bold
                    color: $colorFive

                .h-line
                    width: 70px
                    height: 3px
                    background-color: #9c1c28
                    margin: 14px 0 34px 0

                p
                    color: #887979
                    font-size: 15px
                    margin-bottom: 18px



    .footer-third-block
        width: 100%
        max-width: 1326px
        display: flex
        flex-wrap: wrap

        .footer-text-card
            width: 100%
            max-width: 1326px
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: space-between
            margin-bottom: 50px
            @media screen and (max-width: 768px)
                justify-content: center
            @media screen and (max-width: 414px)
                justify-content: center
            @media screen and (max-width: 411px)
                justify-content: center
            @media screen and (max-width: 360px)
                justify-content: center

            p
                font-size: 15px
                font-weight: bold
                color: $colorFive
                width: 300px
                @media screen and (max-width: 768px)
                    margin-bottom: 20px
                    text-align: center
                @media screen and (max-width: 414px)
                    margin-bottom: 20px
                    text-align: center
                @media screen and (max-width: 411px)
                    margin-bottom: 20px
                    text-align: center
                @media screen and (max-width: 360px)
                    margin-bottom: 20px
                    text-align: center

            .cards
                display: flex
                width: 332px
                display: flex
                align-items: center
                justify-content: space-around

                a
                    margin-right: 10px
